APP_NAME=go-clean-arch
APP_PORT=6001
DB_MYSQL_IP=localhost
DB_MYSQL_PORT=5432
DB_MYSQL_USER=root
DB_MYSQL_PASS=root
DB_MYSQL=mysql
DB_NAME=customer
DB_DEBUG=true
REDIS_HOST=localhost:6379
APP_VERSION=0.1.0
APP_VERSION_CODE=0.1.1